body {
    display: flex; /* Sets the body to display its children (sidebar and map) in a flex layout */
    margin: 0;
    padding: 0;
    height: 100vh; /* Sets the body height to fill the full viewport height */
}

#sidebar {
    width: 25%; /* Adjust the width as necessary */
    height: 100vh; /* Makes the sidebar fill the full height of the viewport */
    overflow: auto; /* Adds scroll to the sidebar if content is longer than the screen */
    background-color: #f8f9fa; /* Just an example, you can set any color or keep it transparent */
}

#sidebar h2 {
    text-align: center;
}

#map {
    height: 100vh;
    width: 75%; /* Adjust the width to fill the rest of the screen */
    overflow: hidden; /* Optional, to ensure map does not overflow the container */
}

#collisionCount {
    top: 20px;
    left: 20px;
    background: white;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}